body{
font-family: 'Macondo', cursive;
background-color: #251605;
color: #f1ab86;
}

h1 {
   color: #F7DBA7;
   font-size: 40px;

}
h2{
    color:#c57b57;
    /* font-size: ; */
}
p {
    color:#f1ab86

}
ul{
    color: #f1ab86;
}
a {
    color:#f1ab86
}