* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.search {
  background-color: rgb(231, 231, 231);
  width: 1000px;
  height: 100px;
  align-content: center;
  margin: auto;
  align-items: center;
  padding-top: 20px;
}
.search input {
  width: 300px;
  height: 20px;
}
.flex {
  width: 1000px;
  max-width: 1000px;
  display: flex;
  margin: auto;
}
.special {
  background-color: aquamarine;
  width: 500px;
  max-width: 600px;
  text-align: right;
}
.help {
  background-color: aquamarine;
  width: 400px;
  padding: auto;
  text-align: center;
}
.get {
  background-color: aquamarine;
  width: 500px;
}
.copy {
  text-align: center;
  padding-top: 10px;
}
